<footer>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <footer>
      <p>&copy; 2024 Panadería Samoa. Todos los derechos reservados.</p>
      <p>Integrantes:</p>
      <ul>
        <li>Maria Cristina Quispe (20212201)</li>
        <li>Milene Garrido (20211111)</li>
        <li>Piero Gutierrez (20211225)</li>
        <li>Franco Cateriano (20180387)</li>
        <li>Jose Baldeon (20210232)</li>
      </ul>
    </footer>
  </body>
  </html>
