<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
  <style>
    /* Estilos para el menú de navegación */
    nav {
      text-align: center; /* Centra los elementos del menú horizontalmente */
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block; /* Alinea los elementos del menú en línea */
    }

    li {
      display: inline;
      margin-right: 20px; /* Espacio entre los elementos del menú */
    }

    a {
      text-decoration: none;
      color: #3e2723;
      font-weight: bold;
      transition: color 0.3s;
    }

    a:hover {
      color: #a98274; /* Cambia el color al hacer hover */
    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/moneda">Moneda</a></li>
      <li><a href="/distrito">Distrito</a></li>
      <li><a href="/categoria">Categoria</a></li>
      <li><a href="/boleta">Boleta</a></li>
      
      
    </ul>
  </nav>
</body>
</html>
